<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ss.swiftsecure">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EmergencyContactActivity"
            android:label="@string/title_activity_emergency_contact"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PanicTestActivity"
            android:label="@string/title_activity_panic_test"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".AddReportActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CrimeReportActivity"
            android:label="@string/title_activity_crime_report"
            android:theme="@style/AppTheme" />
        <activity android:name=".DangerZoneActivity" />
        <activity
            android:name=".ReportToAuthorityActivity"
            android:label="@string/title_activity_report_to_authority"
            android:theme="@style/AppTheme" />
        <activity android:name=".LocationGetterActivity" />

        <receiver android:name=".PanicWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/panic_widget_info" />
        </receiver>
    </application>

</manifest>